.guide-container {
  widows: 100%;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 128px;
}

.guide-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 128px auto;
  max-width: 1338px;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
}

.guide-text {
  padding-left: 100px;
  padding-right: 56px;
}
.guide-text h2 {
  font-size: 42px;
  margin-bottom: 48px;
}
.text-box {
  margin-bottom: 48px;
}

.image-box {
  padding: 25px;
  max-width: 496px;
  max-height: 496px;
}
.guide-image {
  width: 100%;
  border-radius: 50% 0 50% 50%;
}
