<div class="container container--guide">
  <div class="guide-card">
    <div class="guide-card__text">
      <h2 class="guide-text__title">マガジンの書き方</h2>
      <div class="guide-card__text-box">
        <p>
          細切れの情報は無料で手に入ることも多いですが、体系化された情報は貴重です。
        </p>
        <p>
          あなたが詳しい技術やサービスについての知見や、ユニークな経験があるのなら、
          体系化してマガジンにまとめませんか？マガジンは価格をつけて販売することができます。
        </p>
      </div>
      <a routerLink="/about" class="button button--small">読んでみる</a>
    </div>
    <div class="guide-card__image-box">
      <img
        class="guide-card__image"
        src="assets/images/guide-image.jpg"
        alt=""
      />
    </div>
  </div>
</div>
