<div class="read-next-card">
  <div class="read-next-card__box">
    <div class="card-box">
      <div class="read-next-card__image">
        <img src="assets/images/read-next-card-card-image.jpg" alt="" />
      </div>
      <div class="read-next-card__users">
        <div class="inline">
          <div class="read-next-card__icon">
            <img src="assets/images/profile-image-example.jpg" alt="" />
          </div>
          <div class="read-next-card__name">
            <p>UserName</p>
          </div>
        </div>
        <div class="read-next-card__date">
          <p>2020年12月8日</p>
        </div>
      </div>
      <div class="read-next-card__title">
        <p>メモタイトル</p>
      </div>
      <div class="read-next-card__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum sed
        sequi eos, natus quidem est praesentium placeat, exercitationem vitae
        veritatis ut repellendus perspiciatis optio, aut maiores ratione aliquam
        possimus dolores!
      </div>
      <div class="read-next-card__buttons">
        <button>もっとみる</button>
        <button>
          <div class="read-next-card__favorite">
            <div>
              <img src="assets/images/favorite.svg" alt="" />
            </div>
            <div><p>123</p></div>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
