<ng-container *ngIf="memo$ | async as memo">
<div class="category-card">
  <div class="category-box">
    <p class="category-card__title">category</p>
    <div class="category-grid">
      <div class="category-flex">
        <img src="assets/images/category-example.jpg" alt="" />
        <p>{{memo.categories[0]}}</p>
      </div>
      <div class="category-flex">
        <img src="assets/images/category-example.jpg" alt="" />
        <p>{{memo.categories[1]}}</p>
      </div>
      <div class="category-flex">
        <img src="assets/images/category-example.jpg" alt="" />
        <p>{{memo.categories[2]}}</p>
      </div>
      <div class="category-flex">
        <img src="assets/images/category-example.jpg" alt="" />
        <p>Category4</p>
      </div>
    </div>
  </div>
</div>
</ng-container>
