<div class="category-card">
  <div class="category-box">
    <p class="category-card__title">category</p>
    <div class="grid">
      <div class="flex">
        <img src="assets/images/category-example.jpg" alt="" />
        <p>Category1</p>
      </div>
      <div class="flex">
        <img src="assets/images/category-example.jpg" alt="" />
        <p>Category2</p>
      </div>
      <div class="flex">
        <img src="assets/images/category-example.jpg" alt="" />
        <p>Category3</p>
      </div>
      <div class="flex">
        <img src="assets/images/category-example.jpg" alt="" />
        <p>Category4</p>
      </div>
    </div>
  </div>
</div>
