@import 'mixins';
.terms-container {
  max-width: 1338px;
  margin: 0 auto;
  margin-bottom: 128px;
  @include sm {
    margin: 0 16px 80px;
    font-size: 14px;
  }
}
.terms-contents {
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
  border-radius: 8px;
  padding: 32px;
  & h2 {
    text-align: center;
    margin-bottom: 24px;
    @include sm {
      font-size: 20px;
    }
  }
  & h3 {
    margin-bottom: 16px;
    @include sm {
      font-size: 16px;
    }
  }
  &__article {
    margin-bottom: 24px;
  }
}
