<div class="coment-card">
  <div class="coment-box">
    <h3>コメント</h3>
    <div class="coment-card__users">
      <div class="coment-card__icon">
        <img src="assets/images/coment-user-image-example.jpg" alt="" />
      </div>
      <div class="coment-card__name">
        <p>UserName</p>
      </div>
      <div class="coment-card__date">
        <p>2020年12月7日</p>
      </div>
    </div>
    <div class="coment-card__coment">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam
        provident architecto eaque? Accusamus voluptatum dolores adipisci,
        explicabo consequuntur similique voluptatibus ratione, minus earum
        expedita perferendis quisquam commodi eum est cum?
      </p>
    </div>
    <div class="coment-card__buttons">
      <img src="assets/images/favorite.svg" alt="" />
      <img src="assets/images/icons/coment-image.svg" alt="" />
    </div>
    <div class="coment-card__response">
      <form>
        <mat-form-field>
          <textarea matInput>コメントする</textarea>
        </mat-form-field>
      </form>
    </div>
    <div class="coment-card__response-button">
      <p>投稿する</p>
    </div>
  </div>
</div>
