<div class="wrapper">
  <div class="container">
    <!-- <button (click)="getMemo()"></button> -->
    <ng-container *ngIf="memo$ | async as memo">
      <!-- ここでmemo.を使うために、上の行でmemo$をmemoとして扱う記述をする -->
      <h1>{{memo.title}}</h1>
      <div class="memo-category">
        <p>2020年12月2日</p>
        <p>カテゴリ1</p>
        <p>カテゴリ2</p>
        <p>カテゴリ3</p>
      </div>
      <div class="icons">
        <div class="recent-posted-card__card-button">
          <img src="assets/images/favorite.svg" alt="" />
          <p>123</p>
        </div>
        <div>
          <img
            class="button button--small-social"
            src="assets/images/twitter.svg"
            alt=""
          />
        </div>
      </div>
    </ng-container>
  </div>
</div>
