<ng-container *ngIf="memo$ | async as memo">
  <div class="wrapper">
    <div class="container container--memo-header">
      <div class="memo-header">
        <img
          class="memo-header__thumbnail"
          src="{{ memo.thumbnailUrl }}"
          alt=""
        />
        <!-- <button (click)="getMemo()"></button> -->
        <!-- ここでmemo.を使うために、上の行でmemo$をmemoとして扱う記述をする -->
        <div class="memo-header__contents">
          <h1>{{ memo.title }}</h1>
          <div class="memo-category">
            <p>{{ memo.createdAt.toDate() | date: 'yyyy/MM/dd' }}</p>
            <p>{{ memo.categories[0] }}</p>
            <p>{{ memo.categories[1] }}</p>
            <p>{{ memo.categories[2] }}</p>
          </div>
          <div class="icons">
            <div class="recent-posted-card__card-button" (click)="like()">
              <img src="assets/images/favorite.svg" alt="" />
              <p>{{ memo.likeCount }}</p>
            </div>
              <a href="https://twitter.com/home" target="blank">
                <img
                  class="button button--small-social"
                  src="assets/images/twitter.svg"
                  alt=""
                />
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
