@import 'mixins';
.wrapper {
  max-width: 100%;
}

.memo-header {
  &__thumbnail {
    border-radius: 8px;
    width: 120px;
  }
  &__contents {
    @include sm {
      width: 100%;
    }
  }
}

.memo-category {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  @include sm {
    display: block;
  }
  & p {
    margin-right: 24px;
  }
}

h1 {
  font-size: 40px;
  margin-bottom: 24px;
  @include sm {
    font-size: 20px;
  }
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recent-posted-card__card-button {
  margin-right: 24px;
}
