@import 'mixins';

.wrapper {
  max-width: 100%;
}

.memo-header {
  &__thumbnail {
    border-radius: 8px;
    width: 120px;
  }
  &__contents {
    @include sm {
      width: 100%;
    }
  }
  &__contents-date {
    @include sm {
      margin-bottom: 16px;
    }
  }
}

.memo-category {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  @include sm {
    display: block;
    margin-bottom: 8px;
  }
  p {
    margin-right: 24px;
    @include sm {
      margin-right: 0;
    }
  }
}
.categories {
  @include sm {
    margin-bottom: 4px;
    line-height: 1;
  }
}

h1 {
  font-size: 40px;
  margin-bottom: 16px;
  @include sm {
    font-size: 20px;
  }
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  @include sm {
    margin-top: 16px;
  }
}

.recent-posted-card__card-button {
  margin-right: 24px;
}

.header-container {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  border-bottom: 1px solid #fff;
  padding-bottom: 112px;
  margin: 112px auto 80px;
  @include sm {
    padding-bottom: 40px;
    margin: 40px auto;
  }
}
