<div class="guide-icons">
  <a routerLink="/about">
    <div class="icon-box">
      <img class="icon-image" src="assets/images/icons/about-icon.svg" alt="" />
      <p>Soundarについて</p>
    </div></a
  >
  <a routerLink="/faq"
    ><div class="icon-box">
      <img class="icon-image" src="assets/images/icons/faq-icon.svg" alt="" />
      <p>Q & A</p>
    </div></a
  >

  <!-- つかいかたのカードここに -->
  <a routerLink="/terms"><div class="icon-box">
    <img class="icon-image" src="assets/images/icons/terms-icon.svg" alt="" />
    <p>利用規約</p>
  </div></a>
  <a routerLink="/privacy"><div class="icon-box">
    <img class="icon-image" src="assets/images/icons/privacy-icon.svg" alt="" />
    <p>プライバシー</p>
  </div></a>
</div>
