<div class="guide-icons">
  <div class="icon-box">
    <img class="icon-image" src="assets/images/icons/about-icon.svg" alt="" />
    <p>Soundarについて</p>
  </div>
  <div class="icon-box">
    <img class="icon-image" src="assets/images/icons/faq-icon.svg" alt="" />
    <p>Q & A</p>
  </div>
  <div class="icon-box">
    <img class="icon-image" src="assets/images/icons/useage-icon.svg" alt="" />
    <p>使い方</p>
  </div>
  <div class="icon-box">
    <img class="icon-image" src="assets/images/icons/terms-icon.svg" alt="" />
    <p>利用規約</p>
  </div>
  <div class="icon-box">
    <img class="icon-image" src="assets/images/icons/privacy-icon.svg" alt="" />
    <p>プライバシー</p>
  </div>
</div>
