<header>
  <div class="header-navigation">
    <a class="header__logo" routerLink="/">SoundarLogo</a>
    <div>
      <ng-container *ngIf="authService.user$ | async as user; else notLogin">
        <img
          [matMenuTriggerFor]="menuRef"
          class="header__account"
          [src]="user.avatarURL"
          alt=""
        />
      </ng-container>

      <mat-menu #menuRef="matMenu">
        <button mat-menu-item routerLink="/settings/profile">
          <mat-icon>account_box</mat-icon>
          <span (click)="unImplemented()">アカウント設定</span>
        </button>

        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>ログアウト</span>
        </button>
      </mat-menu>
      <ng-template #notLogin>
        <div class="sign-in">
          <a routerLink="/enter" href="#" class="button button--small"
            >Sign In</a
          >
        </div>
      </ng-template>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<footer>
  <div class="footer-container">
    <div class="logo-column">
      <a routerLink="/">SoundarLogo</a>
      <p>クリエイターのための情報共有コミュニティ</p>

      <a href="https://twitter.com/" target="blank"
        ><img
          class="button button--small-social"
          src="assets/images/twitter.svg"
          alt=""
      /></a>
    </div>
    <div class="footer-links">
      <h4 class="footer-column-title">About</h4>
      <a routerLink="/about">Soundarについて</a>
      <a routerLink="/about">使い方</a>
      <a routerLink="faq">よくある質問</a>
    </div>
    <div class="footer-links">
      <h4 class="footer-column-title">Legal</h4>
      <a routerLink="terms">利用規約</a>
      <a routerLink="privacy">プライバシーポリシー</a>
      <a routerLink="transaction-law">特定法表記</a>
    </div>
    <div class="contact-column">
      <h4 class="footer-column-title">Contact</h4>
      <a routerLink="/" class="footer-links">お問い合わせ</a>
    </div>
  </div>
  <small>&copy; 2020 Soundar.com</small>
</footer>
