<header>
  <div class="header-navi">
    <div *ngIf="!noBackArrow" class="cancel-button">
      <button class="button button--cancel" mat-button (click)="cancel()">
        <img src="assets/images/icons/cancel-icon.svg" alt="" />
      </button>
    </div>

    <div class="header-logos">
      <a class="header__logo" routerLink="/"
        ><img
          class="header-logo-image"
          src="/assets/images/icons/sounder-logo.svg"
          alt="Soundarのサイトロゴ"
      /></a>
      <div>
        <ng-container *ngIf="authService.user$ | async as user; else notLogin">
          <img
            [matMenuTriggerFor]="menuRef"
            class="header__account"
            [src]="user.avatarURL"
            alt=""
          />

          <mat-menu #menuRef="matMenu">
            <button mat-menu-item routerLink="/edit">
              <mat-icon>create</mat-icon>
              <span>メモを書く</span>
            </button>
            <button mat-menu-item>
              <mat-icon>account_box</mat-icon>
              <a [routerLink]="['/user', user.uid]">アカウント設定</a>
            </button>

            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              <span>ログアウト</span>
            </button>
          </mat-menu>
        </ng-container>

        <ng-template #notLogin>
          <div class="sign-in">
            <a routerLink="/enter" href="#" class="button button--small"
              >Sign In</a
            >
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<footer>
  <div class="footer-container">
    <div class="logo-column">
      <div class="footer-logos">
        <a routerLink="/"
          ><img
            class="footer-logo"
            src="/assets/images/icons/sounder-logo.svg"
            alt="Soundarのサイトロゴ"
        /></a>
        <p class="footer-sub-title">クリエイターのための情報共有コミュニティ</p>
      </div>
      <div class="footer-twitter">
        <a href="https://twitter.com/" target="blank"
          ><img
            class="button button--small-social"
            src="assets/images/twitter.svg"
            alt=""
        /></a>
      </div>
    </div>
    <div class="footer-links">
      <h4 class="footer-column-title">About</h4>
      <p><a routerLink="/about">Soundarについて</a></p>
      <p><a routerLink="faq">よくある質問</a></p>
    </div>
    <div class="footer-links">
      <h4 class="footer-column-title">Legal</h4>
      <p><a routerLink="terms">利用規約</a></p>
      <p><a routerLink="privacy">プライバシーポリシー</a></p>
      <p><a routerLink="transaction-law">特定法表記</a></p>
    </div>
    <div class="contact-column">
      <h4 class="footer-column-title">Contact</h4>
      <a (click)="unImplemented()" class="footer-links">お問い合わせ</a>
    </div>
  </div>
  <small>&copy; 2020 Soundar.com</small>
</footer>
