<header>
  <div class="header-navigation">
    <p>SoundarLogo</p>
    <div>
      <ng-container *ngIf="authService.user$ | async as user; else notLogin">
        <img
          [matMenuTriggerFor]="menuRef"
          class="header__account"
          [src]="user.avatarURL"
          alt=""
        />
      </ng-container>

      <mat-menu #menuRef="matMenu">
        <button mat-menu-item routerLink="/settings/profile">
          <mat-icon>account_box</mat-icon>
          <span>アカウント設定</span>
        </button>

        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>ログアウト</span>
        </button>
      </mat-menu>
      <ng-template #notLogin>
        <div class="sign-in">
          <a href="#" class="button button--small">Sign In</a>
        </div>
      </ng-template>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<footer>
  <div class="footer-container">
    <div class="logo-column">
      <p>SoundarLogo</p>
      <p>クリエイターのための情報共有コミュニティ</p>
      <img
        class="button button--small-social"
        src="assets/images/twitter.svg"
        alt=""
      />
    </div>
    <div>
      <h4 class="footer-column-title">About</h4>
      <p>Soundarについて</p>
      <p>使い方</p>
      <p>よくある質問</p>
    </div>
    <div>
      <h4 class="footer-column-title">Legal</h4>
      <p>利用規約</p>
      <p>プライバシーポリシー</p>
      <p>特定法表記</p>
    </div>
    <div class="contact-column">
      <h4 class="footer-column-title">Contact</h4>
      <p>お問い合わせ</p>
    </div>
  </div>
  <small>&copy; 2020 Soundar.com</small>
</footer>
