.hero-container {
  max-width: 1400px;
  margin: 0 auto 128px;

}
.main-visual {
  background-image: url(/assets/images/main-visual.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
  border-radius: 8px;
}

.main-title {
  padding-top: 170px;
  padding-bottom: 24px;
}

h1 {
  letter-spacing: 0.07em;
  text-align: center;
  font-size: 60px;
}

.main-text {
  text-align: center;
  padding-bottom: 285px;
}

.main-text p {
  margin-bottom: 16px;
  font-size: 24px;
}

/* PC用のCSSはメディアクエリの外に記述する */

@media screen and (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */
  .hero-container {
    max-width: 960px;
    margin: 0 auto 128px;

  }
}
@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  .hero-container {
    max-width: 480px;
    margin: 0 auto 128px;

  }
}
