.contents-list {
  max-width: 326px;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
  border-radius: 8px;
  margin-bottom: 40px;
  &__title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 16px;
  }
}

.list-box {
  padding: 24px;
}

ol {
  padding-left: 10px;
  list-style: none;
}

a {
  font-size: 12px;
}



a::before {
  content: '';
  margin-right: 8px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #d1d9e6;
  display: inline-block;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
}
