<!-- ムービーカード -->
<div class="recent-posted-card recent-posted-card--movie">
  <!-- ムービーのサムネイル画像 -->
  <img
    class="recent-posted-card__image"
    src="assets/images/youtube-image.jpg"
    alt=""
  />

  <!-- ムービーカードの内容     -->
  <div class="recent-posted-card__card-contents">
    <!-- ムービーのタイトル -->
    <div class="recent-posted-card__title recent-posted-card__title--movie">
      <p>ムービータイトル</p>
    </div>
    <!-- ユーザーアイコン、ユーザーネーム、投稿日のボックス -->
    <div class="recent-posted-author">
      <div>
        <a routerLink="/user/euGre1TgxEZZ1fVTWKQaTQQfFyi1">
          <img
            class="recent-posted-card__user-icon"
            src="assets/images/user-icon-example.jpg"
            alt=""
        /></a>
      </div>
      <div class="recent-posted-card__users">
        <a routerLink="/user/euGre1TgxEZZ1fVTWKQaTQQfFyi1" class="recent-posted-card__user-name">UserName</a>
      </div>
    </div>

    <!-- ムービーカード下部ボタンのボックス     -->
    <div class="button-row">
      <div (click)="alertMessage()" class="recent-posted-card__card-button">
        もっとみる
      </div>
      <div (click)="like()" class="recent-posted-card__card-button">
        <img src="assets/images/favorite.svg" alt="" />
        <p>123</p>
      </div>
    </div>
  </div>
</div>
