<div class="magazine-chapters">
  <h2>Chapters</h2>
  <div class="magazine-chapters__chapter">
    <p>chapter1</p>
    <h3 class="single-line">はじめに</h3>
  </div>
  <div class="magazine-chapters__chapter">
    <p>chapter2</p>
    <h3 class="single-line">続いて</h3>
  </div>
  <div class="magazine-chapters__chapter">
    <p>chapter3</p>
    <h3 class="single-line">さらにくわしく</h3>
  </div>
  <div class="magazine-chapters__chapter">
    <p>chapter4</p>
    <h3 class="single-line">ところで</h3>
  </div>
  <div class="magazine-chapters__chapter">
    <p>chapter5</p>
    <h3 class="single-line">このような別のテクニックもあります</h3>
  </div>
  <div class="magazine-chapters__chapter">
    <p>chapter6</p>
    <h3 class="single-line">まとめ</h3>
  </div>
</div>
