<div class="flexbox">
  <div class="container">
    <h1>LOGO</h1>
    <div class="text">
      <p>Soundarはクリエイターのための情報共有プラットフォームです。</p>
      <p>
        技術についての知見、制作環境や仕事の進め方についてのアイデアを共有し合いましょう。
      </p>
    </div>
    <div class="button button--general"><p>Soundarについて</p></div>
  </div>
  <div class="line"></div>

  <div class="container">
    <h1>Sign In</h1>
    <div class="text">
      <p>新規登録、ログインのどちらも以下のリンクから行うことができます。</p>
      <p>
        利用規約、プライバシーポリシーに同意したうえでログインしてください。
      </p>
    </div>
    <div class="button-row">
      <div class="enter__icon-button">
        <img src="assets/images/icons/google-g-logo.svg" alt="" />
        <p>Sign in with Google</p>
      </div>
    </div>
  </div>
</div>
