.enter {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: space-around;
  margin-bottom: 128px;
  &__container {
    max-width: 538px;
    margin: 128px auto;
  }
  &__text {
    margin-bottom: 60px;
  }
}

a {
  text-align: center;
  color: #31344b;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
  background: #e6e7ee;
  border: 1px solid #d1d9e6;
  border-radius: 8px;
  :hover {
    box-shadow: inset 6px 6px 12px #b8b9be, inset -6px -6px 12px #ffffff;
  }
}



.button {
  color: #31344b;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
  background: #e6e7ee;
  border: 1px solid #d1d9e6;
  border-radius: 8px;
  &:hover {
    box-shadow: inset 6px 6px 12px #b8b9be, inset -6px -6px 12px #ffffff;
  }
  &--text {
    padding: 8px 16px;
    min-width: 140px;
  }
  &--signin {
    min-width: 172px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    img {
      width: 16px;
      margin-right: 8px;
    }
  }
}

.vertical-line {
  width: 1px;
  height: 100vh;
  background-color: #d1d9e6;
}

p {
  word-break: normal;
}

h1 {
  font-size: 40px;
  margin-bottom: 24px;
}
.buttons {
  margin-bottom: 32px;
}

/* PC用のCSSはメディアクエリの外に記述する */

@media screen and (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */
  .enter {
    padding: 24px;
    display: block;
    &__container {
      max-width: 538px;
      margin: 32px auto;
    }
    &__text {
      margin-bottom: 24px;
    }
  }
  h1 {
    text-align: center;
  }
  .vertical-line {
    width: 0;
    height: 0;
    background-color: #d1d9e6;
    margin-bottom: 128px;
  }
}
@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */

  .enter {
    padding: 24px;
    display: block;
    &__container {
      max-width: 538px;
      margin: 32px auto;
    }
    &__text {
      margin-bottom: 24px;
    }
  }
  h1 {
    text-align: center;
  }
  .vertical-line {
    width: 0;
    height: 0;
    background-color: #d1d9e6;
    margin-bottom: 128px;
  }
}
