.magazine-viewer-container {
  max-width: 100%;
  display: flex;
}
.magazine-viewer-wrapper {
  max-width: 700px;
  padding: 32px 128px;
  margin-bottom: 128px;
}
.magazine-viewer {
  &__chapter {
    // max-width: 700px;
  }
  &__magazine {
    max-width: 680px;
    display: flex;
    padding: 32px;
  }
  &__info {
    & h2 {
      font-size: 16px;
      margin-bottom: 16px;
    }
    & button {
      background: #e6e7ee;
      border: 1px solid #d1d9e6;
      padding: 8px 16px;
      border-radius: 8px;
      display: flex;
      box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
      &:hover {
        box-shadow: inset 6px 6px 12px #b8b9be, inset -6px -6px 12px #ffffff;
      }
      & img {
        width: 16px;
        margin-right: 8px;
      }
    }
  }
  &__list {
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
    padding: 8px 32px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin: 8px 32px;
    &:hover {
      box-shadow: inset 6px 6px 12px #b8b9be, inset -6px -6px 12px #ffffff;
    }
    & p {
      margin-right: 16px;
    }
  }
  &__titles {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
  }
  &__users {
    display: flex;
    align-items: center;
    & img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      margin-right: 8px;
    }
    & p {
      font-weight: bold;
    }
  }
  &__text {
    margin-bottom: 64px;
    & p {
      margin-bottom: 16px;
    }
  }
  &__next {
    display: inline-flex;
    float: right;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
    &:hover {
      box-shadow: inset 6px 6px 12px #b8b9be, inset -6px -6px 12px #ffffff;
    }
  }
  &__next-text {
    margin-right: 16px;
  }
}

.magazine-image {
  height: 100px;
  border-radius: 0 8px 8px 0;
  margin-right: 24px;
}

.magazine-image {
  box-shadow: 4px 0px #b8b9be;
}
