<div class="magazine-viewer-container">
  <div class="viewer">
    <div class="viewer__magazines">
      <div class="viewer__magazine-images">
        <img
          class="viewer__magazine-image"
          src="assets/images/magazine-image.jpg"
          alt=""
        />
        <div class="viewer__magazine-titles">
          <h1>マガジンタイトル</h1>
          <button (click)="like()" class="button button--favorite">
            <img src="assets/images/favorite.svg" alt="" />
            <p>123</p>
          </button>
          <div class="viewer__users">
            <img
              class="viewer__avatar"
              src="assets/images/user-icon-example.jpg"
              alt=""
            />
            <p class="viewer__name">Username</p>
          </div>
        </div>
      </div>

      <div class="viewer__chapters">
        <div class="viewer__chapter">
          <p>01</p>
          <h2>はじめに</h2>
        </div>
        <div class="viewer__chapter">
          <p>02</p>
          <h2>続いて</h2>
        </div>
        <div class="viewer__chapter">
          <p>03</p>
          <h2>さらにくわしく</h2>
        </div>
        <div class="viewer__chapter">
          <p>04</p>
          <h2>ところで</h2>
        </div>
        <div class="viewer__chapter">
          <p>05</p>
          <h2>このような別のテクニックもあります</h2>
        </div>
        <div class="viewer__chapter">
          <p>06</p>
          <h2>まとめ</h2>
        </div>
      </div>
    </div>
    <div class="viewer__contents">
      <div class="viewer__page-titles">
        <p class="viewer__page-chapter">chapter01</p>
        <h2 class="viewer__page-title">はじめに</h2>
      </div>
      <div class="viewer__text-box">
        <p class="viewer__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure in
          placeat repellendus, quis facilis aut magnam velit expedita enim
          deserunt distinctio commodi saepe incidunt molestiae voluptas
          reiciendis, ipsum ipsam libero.
        </p>
        <p class="viewer__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure in
          placeat repellendus, quis facilis aut magnam velit expedita enim
          deserunt distinctio commodi saepe incidunt molestiae voluptas
          reiciendis, ipsum ipsam libero.
        </p>
        <p class="viewer__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure in
          placeat repellendus, quis facilis aut magnam velit expedita enim
          deserunt distinctio commodi saepe incidunt molestiae voluptas
          reiciendis, ipsum ipsam libero.
        </p>
      </div>
      <div class="viewer__next">
        <div class="viewer__next-text">
          <p class="viewer__next-small">Next Chapter</p>
          <h3 class="viewer__next-chapter">続いて</h3>
        </div>
        <img src="assets/images/icons/arrow_right.svg" alt="" />
      </div>
    </div>
  </div>
</div>
