<div class="magazine-viewer-container">
  <div class="magazine-viewer__chapter">
    <div class="magazine-viewer__magazine">
      <img class="magazine-image"
        class="magazine-image"
        src="assets/images/magazine-image.jpg"
        alt=""
      />
      <div class="magazine-viewer__info">
        <h2>マガジンタイトル</h2>
        <button>
          <img src="assets/images/favorite.svg" alt="" />
          <p>123</p>
        </button>
      </div>
    </div>
    <div class="magazine-viewer__list">
      <p>01</p>
      <h3>はじめに</h3>
    </div>
    <div class="magazine-viewer__list">
      <p>02</p>
      <h3>はじめに</h3>
    </div>
    <div class="magazine-viewer__list">
      <p>03</p>
      <h3>はじめに</h3>
    </div>
    <div class="magazine-viewer__list">
      <p>04</p>
      <h3>はじめに</h3>
    </div>
    <div class="magazine-viewer__list">
      <p>05</p>
      <h3>はじめに</h3>
    </div>
    <div class="magazine-viewer__list">
      <p>06</p>
      <h3>はじめに</h3>
    </div>
  </div>
  <!-- <div class="magazine-viewer-wrapper">
    <div class="magazine-viewer__titles">
      <p>chapter01</p>
      <h3>はじめに</h3>
      <div class="magazine-viewer__users">
        <img src="assets/images/user-icon-example.jpg" alt="" />
        <p>Username</p>
      </div>
    </div>
    <div class="magazine-viewer__text">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus totam
        minima, amet hic maxime ipsa porro quis deleniti unde sed autem
        obcaecati voluptates officiis earum debitis saepe. Incidunt, aspernatur
        molestiae?
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quod?
        Provident dolor temporibus eos fugiat asperiores corrupti, unde nemo
        repellat. Ut cum quos maiores assumenda itaque, minima necessitatibus
        hic officia.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
        temporibus aperiam deserunt totam vero omnis earum eum at, eveniet
        mollitia in ipsa quas laborum officiis voluptas nulla vitae iure odio.
      </p>
    </div>
    <div class="magazine-viewer__next">
      <div class="magazine-viewer__next-text">
        <p>Next Chapter</p>
        <h4>はじめに</h4>
      </div>
      <img src="assets/images/icons/arrow_right.svg" alt="" />
    </div>
  </div> -->
</div>
