<ng-container *ngIf="memo$ | async as memo">
  <div class="memo-contents-container">
    <div class="memo-contents">
      <div class="contents-container">
        <div class="memo-contents__article">
          <h2>目次1</h2>
          <div class="">{{ memo.text | removeHtmlTags }}</div>
        </div>
        <div class="memo-contents__under-buttons">
          <div class="memo-contents__button" (click)="like()">
            <img src="assets/images/favorite.svg" alt="" />
            <p>{{ memo.likeCount }}</p>
          </div>
          <a  href="https://twitter.com/" target="blank" class="memo-contents__button memo-contents__button--twitter">
            <img src="assets/images/twitter.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</ng-container>
