<div class="top-hero">
  <div class="wrapper">
    <div class="main">
      <div class="main__title">
        <h2>Write for creative.</h2>
        <p>
          Sounderは「知見を共有するクリエイターに対価を」をコンセプトとした情報共有コミュニティです。
        </p>
      </div>
      <div class="main__image">
        <img src="assets/images/hero-image.svg" alt="" />
      </div>
      <div class="main__socials">
        <img src="assets/images/twitter.svg" alt="" />
        <img src="assets/images/youtube.svg" alt="" />
        <img src="assets/images/soundcloud.svg" alt="" />
      </div>
    </div>
  </div>
</div>
