<div class="top-hero">


   <div class="main-visual">
     <div class="main-title">
       <h2>Write for creative.</h2>
       <p>Sounderは「知見を共有するクリエイターに対価を」をコンセプトとした情報共有コミュニティです。</p>
     </div>
     <div class="main-image">
      <img src="assets/images/hero-image.svg" alt="">
     </div>
   </div>
   <div class="top-socials">
     <img  src="assets/images/twitter.svg" alt="">
     <img  src="assets/images/youtube.svg" alt="">
     <img  src="assets/images/soundcloud.svg" alt="">

   </div>


  </div>

