<div class="transaction-law-container">
  <div class="transaction-law-contents">
    <h2>特定商取引法に基づく表記</h2>
    <div class="transaction-law-contents__article">
      <h3>事業者</h3>
      <p>山本 昌平</p>
    </div>
    <div class="transaction-law-contents__article">
      <h3>事業者の所在</h3>
      <p>〒639-0205</p>
      <p>奈良県北葛城郡上牧町下牧7-1-16</p>
      <p>TEL: 09090563585</p>
      <p>
        ※
        お問い合わせは下記のメールアドレスもしくはフォームからのみ受け付けています。
      </p>
    </div>
    <div class="transaction-law-contents__article">
      <h3>サイト管理代表者</h3>
      <p>山本 昌平</p>
    </div>
    <div class="transaction-law-contents__article">
      <h3>お問合せ先</h3>
      <p>mail@shhymmt.com</p>
    </div>
    <div class="transaction-law-contents__article">
      <h3>販売価格と手数料</h3>
      <p>
        消費税および手数料を含む価格で表示されています。利用規約もしくはQ&Aをご参照ください。
      </p>
    </div>
    <div class="transaction-law-contents__article">
      <h3>お支払方法</h3>
      <p>クレジットカード（Visa/Master/American Express/Diners Club）</p>
    </div>
    <div class="transaction-law-contents__article">
      <h3>個人情報の取扱いについて</h3>
      <p>プライバシーポリシーをご参照ください。</p>
    </div>
    <div class="transaction-law-contents__article">
      <h3>キャンセルについて</h3>
      <p>
        コピー可能なデジタルコンテンツであるため、ご購入者様の都合による返品・返金・キャンセルは一切できません。商品違いであっても、返金は致し兼ねますので、予めご了承ください。
      </p>
    </div>
    <div class="transaction-law-contents__article">
      <h3>コンテンツの閲覧保証ブラウザ</h3>
      <p>Chrome/Safari/FireFox/Edge/iOS Safari/Android Chromeの各最新版</p>
    </div>
    <div class="transaction-law-contents__article">
      <h3>商品の引き渡し時期</h3>
      <p>
        有料コンテンツを購入した場合、決済手続き完了後、すぐに閲覧できるようになります。
      </p>
    </div>
    <div class="transaction-law-contents__article">
      <h3>その他</h3>
      <p>
        販売ユーザーが販売事業者に該当する場合、販売ユーザーの特定商取引法に基づく表記はコンテンツの販売ページに表示されます。
      </p>
    </div>
  </div>
</div>
