<header>
  <div class="navigation">
    Soundar
    <a href="#" class="button">Sign In</a>
  </div>
</header>

<router-outlet></router-outlet>

<!-- Footerカラム -->
<div class="footer">

  <div class="footer-container">

    <div class="logo-column">
      <div>Soundar</div>
      <p>クリエイターのための情報共有コミュニティ</p>
      <img class="small-social button" src="assets/images/twitter.svg" alt="" />
    </div>
    <div>
      <h4 class="footer-column-title">About</h4>
      <p>Soundarについて</p>
      <p>使い方</p>
      <p>よくある質問</p>
    </div>
    <div>
      <h4 class="footer-column-title">Legal</h4>
      <p>利用規約</p>
      <p>プライバシーポリシー</p>
      <p>特定法表記</p>
    </div>
    <div class="contact-column">
      <h4 class="footer-column-title">Contact</h4>
      <p>お問い合わせ</p>
    </div>
  </div>
</div>

<!-- コピーライト -->
<small>&copy; 2020 Soundar.com</small>
