<header>
  Soundar
  <div class="navigation-wrap">
    <mat-icon aria-hidden="true" aria-label="Example home icon"
      >search</mat-icon
    >

    <a href="#" class="button">LOG IN</a>
  </div>
</header>
<router-outlet></router-outlet>

<footer>
  <div class="footer-grid">
    <div class="footer-column">Soundar</div>
    <div>
      <h4 class="footer-column__title">About</h4>
      <p>Soundarについて</p>
      <p>よくある質問</p>
      <p>運営者について</p>
      <p>メディアキット</p>
    </div>
    <div>
      <h4 class="footer-column__title">Legal</h4>
      <p>利用規約</p>
      <p>プライバシーポリシー</p>
      <p>特定法表記</p>
    </div>
    <div>
      <h4 class="footer-column__title">Contact</h4>
      <p>お問い合わせ</p>
    </div>
  </div>
    <small>&copy; Soundar.com</small>
</footer>
