<div class="post">
  <form class="editor" [formGroup]="form">
    <!-- 記事投稿のタイトル用の入力フォーム -->
    <mat-form-field class="editor__title" appearance="fill">
      <mat-label>Title</mat-label>
      <input
        matInput
        #input
        maxlength="50"
        placeholder="Insert Title Here..."
        formControlName="title"
        required
      />
      <mat-hint align="end">{{ input.value?.length || 0 }}/50</mat-hint>
    </mat-form-field>

    <!-- 記事投稿用のエディタ -->
    <quill-editor [styles]="{ height: '400px' }" formControlName="content">
    </quill-editor>
  </form>

  <!-- 保存or投稿ボタン -->
  <div class="container">
    <div class="actions">
      <span class="actions__switcher actions__switcher--modified">
        <input [class.actions__input--active]="isActive" (click)="active()" class="actions__input" type="checkbox" id="switcher-1" />
        <!-- activeなら、activeクラスをつける-->
        <div class="actions__label-wrap" [class.actions__label-wrap--active]="isActive">
          <label
            class="actions__label"
            [class.actions__label--active]="isActive"
            for="switcher-1">ON</label>
        </div>
      </span>
    </div>
    <div class="actions__submit">
      <p class="actions__text">下書き保存</p>
    </div>
  </div>
</div>
