//トグルボタン
$black: #282828;
$grey: #999999;
$white: #ffffff;

.post {
  background-color: rgba(133, 126, 113, 0.2);
}
.editor {
  width: 1040px;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

//title部分のAngular Materialのformはインライン要素なので、blockにすると横幅いっぱいに広がる
.editor__title {
  display: block;

  margin-bottom: 20px;
}
// title部分のAngular Materialのformのアンダーラインを消す
::ng-deep .mat-form-field-underline {
  display: none;
}

.container {
  position: relative;
  width: 1040px;
  margin: 32px auto;
  padding-bottom: 80px;
  margin-bottom: 80px;
}
.actions {
  &__submit {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: 200px;
    height: 50px;
    background-color: #282828;
    margin: 0 auto;
    border-radius: 25px;
    color: #fff;
  }
  &__text {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: Skia;
  }
  &__button {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    float: left;
  }
  &__switcher {
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
  }
  &__input {
    appearance: none;
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: $black;
    outline: none;
    &--active {
      background-color: $white;
    }
  }
  &__label-wrap {
    transition: 1s;
    height: 32px;
    width: 50%;
    background-color: #fff;
    border-radius: 25px;
    position: absolute;
    top: -50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: 16px;
    &--active {
      height: 32px;
      width: 50%;
      background-color: #000;
      border-radius: 25px;
      position: absolute;
      top: -50%;
      left: 0;
      transform: translateY(-50%);
      margin-left: 16px;
    }
  }
  &__label {
    color: black;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: 8px;
    font-family: 'Oswald', sans-serif;
    &--active {
      color: white;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      margin-left: 8px;
    }
  }
}
