<div class="container">
  <div class="faq-contents">
    <div class="faq-contents__title">
      <p>Q & A</p>
    </div>
    <div class="faq-contents__tabs">
      <div class="">
        <p>Soundarについて</p>
      </div>
      <div class="">
        <p>購入について</p>
      </div>
      <div class="">
        <p>販売について</p>
      </div>
    </div>

    <ng-container *ngFor="let qa of qaContents; index as i;">
      <div class="faq-contents__list" (click)="activeIndex = i">
        <img src="assets/images/icons/question-icon.svg" alt="" />
        <p>{{qa.question}}</p>
      </div>
      <div
        class="faq-contents__list faq-contents__list--answer"
        [@toggle]="activeIndex === i"
      >
        <img src="assets/images/icons/answer-icon.svg" alt="" />
        <p>{{qa.answer}}</p>
      </div>
    </ng-container>


  </div>
</div>
