<div class="top-wrapper">
  <div class="about-container">
    <div class="about-card">
      <div class="guide-text">
        <h2 class="guide-text__logo">SoundarLogo</h2>
        <div class="text-box">
          <h2 class="guide-text__title">A new platform</h2>
          <h2 class="guide-text__title">For modern creator</h2>
        </div>
        <div class="guide-text__text">
          <p>Soundarはクリエイターのための新しい情報共有コミュニティです。</p>
          <p>誰かのために、自分のために知見を共有しましょう。</p>
        </div>
      </div>
      <div class="image-box">
        <img
          class="guide-image guide-image--rhombus"
          src="assets/images/about-guide-image.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<div class="main-wrapper">
  <div class="grid-container">
    <div class="main-container">
      <div class="main-container__image">
        <img src="assets/images/about-one-image.svg" alt="" />
      </div>
      <div class="sub-title">
        <p>あなたの制作Tipsを</p>
        <p>メモにして残そう</p>
      </div>
      <div class="text">
        <p>制作の知見やテクニックを、メモにしましょう。</p>
        <p>メモにはSoundCloudのコンテンツや</p>
        <p>YouTubeの動画の埋め込みもできます。</p>
      </div>
    </div>
    <div class="main-container">
      <div class="main-container__image">
        <img src="assets/images/about-two-image.svg" alt="" />
      </div>
      <div class="sub-title">
        <p>まとまったコンテンツは</p>
        <p>マガジンにして販売しよう</p>
      </div>
      <div class="text">
        <p>より専門的なトピックについては、</p>
        <p>マガジンにまとめて販売してみましょう。</p>
        <p>もちろん無料で公開してもOKです。</p>
      </div>
    </div>
    <div class="main-container">
      <div class="main-container__image">
        <img src="assets/images/about-three-image.svg" alt="" />
      </div>
      <div class="sub-title">
        <p>お気に入りのクリエイターや</p>
        <p>コンテンツをサポートしよう</p>
      </div>
      <div class="text">
        <p>クリエイターへの金銭的なサポート機能があります。</p>
        <p>有益な知見をシェアしてくれた著者を</p>
        <p>応援しましょう。</p>
      </div>
    </div>
  </div>
</div>

<div class="message-wraaper">
  <div class="consideration-container">
    <!-- 1つ目 -->
    <div class="one">
      <div class="consideration-title">
        <h2>
          情報を発信する <br />
          クリエイターが <br />対価を得られるように
        </h2>
      </div>
      <div class="consideration-image">
        <img src="assets/images/consideration-image.jpg" alt="" />
      </div>
    </div>

    <!-- 2つ目 -->
    <div class="">
      <div class="consideration-text">
        <p>
          クリエイターには学びやアイデアを、他のクリエイターと議論したり共有する文化があります。
        </p>
        <p>
          しかし、有益な知見を発信し、コミュニティに貢献しているクリエイターが、
        </p>
        <p>必ずしも対価を得られているとは限りません。</p>
        <p>Soundarでは2つの仕組みにより対価を得ることができます。</p>
      </div>
      <h3 class="top-title">金銭サポートを受ける</h3>
      <h3 class="under-title">マガジンを執筆して公開する</h3>
      <p>
        あなたのために、そしてすべての音楽制作のために、あなたの知見をシェアしましょう。
      </p>
    </div>
  </div>
</div>

<div class="more-wrapper">
  <div class="guide-icons">
    <div class="icon-box">
      <img class="icon-image" src="assets/images/icons/faq-icon.svg" alt="" />
      <p>Q & A</p>
    </div>
    <div class="icon-box">
      <img
        class="icon-image"
        src="assets/images/icons/useage-icon.svg"
        alt=""
      />
      <p>使い方</p>
    </div>

    <div class="icon-box">
      <img
        class="icon-image"
        src="assets/images/icons/privacy-icon.svg"
        alt=""
      />
      <p>プライバシー</p>
    </div>
  </div>
</div>
