<div class="top-wrapper">
  <div class="container">
    <div class="guide-container">
      <div class="guide-card">
        <div class="guide-text">
          <h2 class="guide-text__logo">SoundarLogo</h2>
          <div class="text-box">
            <h2 class="guide-text__title">A new platform</h2> <h2 class="guide-text__title">For modern creator</h2>
          </div>
          <div class="guide-text__text"><p> Soundarはクリエイターのための新しい情報共有コミュニティです。</p>
            <p> 誰かのために、自分のために知見を共有しましょう。</p></div>
        </div>
        <div class="image-box">
          <img
            class="guide-image"
            src="assets/images/join-guide-image.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-wrapper">
  <div class="container">

  </div>
</div>

<div class="message-wraaper">
  <div class="container">

  </div>
</div>
