<div class="read-next">
  <div class="read-next__card">
    <div class="card-box">
      <div class="read-next__image">
        <img src="assets/images/read-next-card-image.jpg" alt="" />
      </div>
      <div class="read-next__users">
        <div class="inline">
          <div class="read-next__icon">
            <img src="assets/images/profile-image-example.jpg" alt="" />
          </div>
          <div class="read-next__name">
            <p>UserName</p>
          </div>
        </div>
        <div class="read-next__date">
          <p>2020年12月8日</p>
        </div>
      </div>
      <div class="read-next__title">
        <p>メモタイトル</p>
      </div>
      <div class="read-next__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum sed
        sequi eos, natus quidem est praesentium placeat, exercitationem vitae
        veritatis ut repellendus perspiciatis optio, aut maiores ratione aliquam
        possimus dolores!
      </div>
      <div class="read-next__buttons">
        <button>もっとみる</button>
        <button>
          <div class="read-next__favorite">
            <div>
              <img src="assets/images/favorite.svg" alt="" />
            </div>
            <div><p>123</p></div>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
