<div class="read-next">
  <h3>Read Next</h3>

  <div class="read-next__cards">
    <app-next-card
      [memo]="memo"
      *ngFor="let memo of memos$ | async"
    ></app-next-card>
  </div>
  <div class="more-buttons">
    <button (click)="unImplemented()">
      <img src="assets/images/icons/arrow_left.svg" alt="" />
    </button>

    <button (click)="unImplemented()">1</button>
    <button (click)="unImplemented()">2</button>
    <button (click)="unImplemented()">3</button>

    <button (click)="unImplemented()">
      <img src="assets/images/icons/arrow_right.svg" alt="" />
    </button>
  </div>
</div>
