@import 'mixins';
.soundcloud-player {
  font-size: 10px;
  color: #31344b;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: nunito, dnp-shuei-mgothic-std, 'Helvetica Neue', sans-serif;
  text-decoration: none;
  font-weight: 100;
}
.embed-sc {
  object-fit: cover;
  padding: 24px 0;
  margin: 0 auto;
}

.posted-part {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 24px;
  align-items: center;
  @include sm {

    display: block;
  }
}
.author-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 16px;
  @include sm {
    margin-bottom: 16px;
  }
  &__icon img {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
    @include sm {
      margin-right: 16px;
    }
  }
  &__name p {
    font-size: 16px;
  }
}

.fav-button {
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid #d1d9e6;
  border-radius: 8px;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
  height: 100%;
}
.fav-button:hover {
  box-shadow: inset 6px 6px 12px #b8b9be, inset -6px -6px 12px #ffffff;
}

.fav-button img {
  height: 16px;
  width: auto;
  margin-right: 8px;
}

.posted-card:hover {
  box-shadow: inset 6px 6px 12px #b8b9be, inset -6px -6px 12px #ffffff;
}
