<div class="recent-posted-card">
  <div class="recent-posted-card__card-contents">
    <div class="embed-sc">
      <img src="assets/images/sc-image.png" alt="" />
    </div>

    <div class="posted-part">
      <div class="author-row">
        <div class="author">
          <div class="author__icon">
            <img src="assets/images/user-icon-example.jpg" alt="" />
          </div>
          <div class="author__name">
            <p>UserName</p>
          </div>
        </div>
        <div class="fav-button">
          <img src="assets/images/favorite.svg" alt="" />
          <p>123</p>
        </div>
      </div>
      <div class="posted-card">
        <div class="posted-card-container">
          <div class="posted-card__text">
            <p>このMusic & Soundsが投稿されているメモ</p>
            <div class="posted-card__text posted-card__text--bold">
              <p>メモタイトル</p>
            </div>
          </div>
          <div class="posted-card__image">
            <img src="assets/images/user-icon-example.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
