<div class="next-card" *ngIf="memo$ | async as memo">
  <div class="card-box" *ngIf="user$ | async as user">
    <div class="next-card__image">
      <img [src]="memo.thumbnailUrl" alt="" />
    </div>
    <div class="next-card__users">
      <div class="inline">
        <div class="next-card__icon">
          <img src="assets/images/profile-image-example.jpg" alt="" />
        </div>
        <div class="next-card__name">
          <p>{{ user.name }}</p>
        </div>
      </div>
      <div class="next-card__date">
        <p>{{ memo.createdAt.toDate() | date: 'yyyy/MM/dd' }}</p>
      </div>
    </div>
    <div class="next-card__title">
      <p>{{ memo.title }}</p>
    </div>
    <div class="next-card__text">
      {{ memo.text | removeHtmlTags }}
    </div>
    <div class="next-card__buttons">
      <a [routerLink]="['/memo', memo.memoId]" class="more">もっとみる</a>
      <button>
        <div class="next-card__favorite">
          <div>
            <img src="assets/images/favorite.svg" alt="" />
          </div>
          <div>
            <p>{{ memo.likeCount }}</p>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>
