<!-- マガジンカード -->
<div class="recent-posted-card recent-posted-card--magazine">
  <div class="magazine-box">
    <img class="magazine-box__image" src="assets/images/user-icon-example.jpg" alt="" />
  </div>

  <!-- マガジンのサムネイル画像 -->

  <!-- マガジンカードの内容     -->
  <div
    class="recent-posted-card__card-contents recent-posted-card__card-contents--magazine"
  >
    <!-- ユーザーアイコン、ユーザーネーム、投稿日のボックス -->
    <div class="recent-posted-author">
      <a routerLink="/user">
      <img
        class="recent-posted-card__user-icon"
        src="assets/images/user-icon-example.jpg"
        alt=""
      /></a>
      <div class="recent-posted-card__users">
        <a routerLink="/user" class="recent-posted-card__user-name">UserName</a>
        <p class="recent-posted-card__posted-date">2020年11月11日</p>
      </div>
    </div>

    <!-- マガジンのタイトル -->
    <div class="recent-posted-card__title">
      <p>マガジンタイトル</p>
    </div>

    <!-- マガジンの概要     -->
    <div class="recent-posted-card__overview">
      <p>
        本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト
      </p>
    </div>

    <!-- マガジンカード下部ボタンのボックス     -->
    <div class="button-row">
      <a routerLink="magazine" class="recent-posted-card__card-button">もっとみる</a>
      <div (click)="like()" class="recent-posted-card__card-button">
        <img src="assets/images/favorite.svg" alt="" />
        <p>123</p>
      </div>
    </div>
  </div>
</div>
