<div class="profile-card">
  <div class="profile-box">
    <div class="profile-card__top">
      <div class="profile-card__user">
        <img src="assets/images/profile-image-example.jpg" alt="" />
      </div>
      <div>
        <p class="profile-card__name">Username</p>
        <p class="profile-card__subject">Subject</p>
        <div class="icons-box">
          <img
            class="profile-card__socials"
            src="assets/images/twitter.svg"
            alt=""
          />
          <img
            class="profile-card__socials"
            src="assets/images/youtube-brands.svg"
            alt=""
          />
          <img
            class="profile-card__socials"
            src="assets/images/soundcloud-brands.svg"
            alt=""
          />
          <img
            class="profile-card__socials"
            src="assets/images/icons/round-link.svg"
            alt=""
          />

          <div class="follow-box">
            <button class="profile-card__text">
              <img src="assets/images/icons/round-add.svg" alt="" />Follow
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-card__profile">
      <p>
        プロフィールテキストプロフィールテキストプロフィールテキストプロフィールテキストプロフィールテキスト
      </p>
    </div>
    <div class="support-box">
      <button class="profile-card__text profile-card__text--support">
        <img src="assets/images/icons/round-monetization.svg" alt="" />
        サポートする
      </button>
    </div>
  </div>
</div>
