<div class="magazine-contents">
  <div class="magazine-contents__text">
    <h2>マガジン概要</h2>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nobis et
      repellendus explicabo rem accusantium perferendis aut maxime! Iusto
      quisquam dolor est libero similique repudiandae placeat consequatur
      dolorum laboriosam tempore.
    </p>
  </div>
<div class="magazine-contents__read">
  <div class="read-container">
<button>今すぐ読む</button>
<div class="magazine-contents__icons">
<mat-icon aria-hidden="false" aria-label="Example home icon">event</mat-icon>
<p>公開日:</p>
<p>2020年12月14日</p>
</div>
<div class="magazine-contents__icons">
  <mat-icon aria-hidden="false" aria-label="Example home icon">sync</mat-icon>
  <p>更新日:</p>
  <p>2020年12月15日</p>
  </div>
  <div class="magazine-contents__icons">
    <img src="assets/images/icons/money-image.png" alt="">
    <p>価格:</p>
    <p>0円</p>
    </div>

  </div>

</div>
</div>
