:host {
  display: block;
  margin: 80px;
}

.editor-container {
  max-width: 880px;
  margin: 0 auto 128px;
}

.editor {
  margin: 0 auto;
  max-width: 880px;
}

.example-full-width {
  display: block;
  margin-bottom: 10px;
}

.error {
  color: #f44336;
  font-size: 75%;
  margin-top: -16px;
  margin-bottom: 8px;
}

.thumbnail {
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 120px;
  box-shadow: inset 6px 6px 12px #b8b9be, inset -6px -6px 12px #ffffff;
  border: 1px solid #d1d9e6;
  border-radius: 8px;
  overflow: hidden;
  &__icon {
    width: 32px;
    height: 32px;
  }
  &__text {
    color: rgb(59, 59, 59);
    font-size: 14px;
  }
  &__image {
    width: 100%;
  }
}

.croppie {
  display: none;
}

// style.scssに移動できる内容
.button {
  color: #31344b;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
  background: #e6e7ee;
  border: 1px solid #d1d9e6;
  border-radius: 8px;
  &:hover {
    box-shadow: inset 6px 6px 12px #b8b9be, inset -6px -6px 12px #ffffff;
  }
  &--text {
    padding: 8px 16px;
    min-width: 140px;
  }
  &--invalid {
    opacity: 0.4;
    box-shadow: inset 6px 6px 12px #b8b9be, inset -6px -6px 12px #ffffff;
    padding: 8px 16px;
    min-width: 140px;
    &:hover {
      box-shadow: inset 6px 6px 12px #b8b9be, inset -6px -6px 12px #ffffff;
    }
  }
}
// style.scssに移動できる内容ここまで

// ここからトグルボタン
$black: #25263a;
$grey: #cccccc;
$white: #d1d9e6;

.switcher {
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 8px;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
  input {
    margin: 0;
    appearance: none;
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    background-color: $black;
    outline: none;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
    font-family: nunito, dnp-shuei-mgothic-std, 'Helvetica Neue', sans-serif;
    transition: 0.25s -0.1s;
    &:checked {
      background-color: $white;
      &:before {
        color: $white;
        transition: color 0.5s 0.2s;
      }
      &:after {
        color: $grey;
        transition: color 0.5s;
      }
      & + label {
        left: 8px;
        right: 120px;
        background: $black;
        transition: left 0.5s, right 0.4s 0.2s;
      }
    }
    &:not(:checked) {
      background: $black;
      transition: background 0.5s -0.1s;
      &:before {
        color: $grey;
        transition: color 0.5s;
      }
      &:after {
        color: $black;
        transition: color 0.5s 0.2s;
      }
      & + label {
        left: 120px;
        right: 8px;
        background: $white;
        transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;
      }
    }
    &:before,
    &:after {
      z-index: 2;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: $white;
    }
    &:before {
      content: 'Publish';
      left: 20px;
    }
    &:after {
      content: 'Save';
      right: 20px;
    }
  }
  label {
    z-index: 1;
    position: absolute;
    top: 10px;
    bottom: 10px;
    border-radius: 8px;
  }
}

.flexbox {
  display: flex;
  justify-content: space-between;
}
