<div class="editor-container">
<mat-form-field class="example-full-width"  >
  <mat-label>Title</mat-label>
  <input matInput>
</mat-form-field>

<form class="editor" [formGroup]="form">
  <quill-editor
    [styles]="{ height: '500px' }"
    formControlName="content"
  ></quill-editor>
</form>

<!-- ここからトグル  -->
<div class="flexbox">
<div class="switcher">
  <input type="checkbox" id="">
  <label for=""></label>
</div>
<div class="button button--to-list">
  <p>下書き保存</p>
</div>

</div>


</div>








