<div class="editor-container">
  <!-- ここからフォーム -->
  <form [formGroup]="form" (ngSubmit)="submit()">
    <!-- メモタイトルの入力フォーム -->
    <mat-form-field class="example-full-width">
      <mat-label>Title</mat-label>
      <input
        matInput
        formControlName="title"
        required
        autocomplete="off"
        placeholder="メモタイトル"
      />
      <mat-error *ngIf="titleControl.hasError('required')"
        >タイトルは必須項目です</mat-error
      >
      <mat-error *ngIf="titleControl.hasError('maxlength')"
        >タイトルは{{ titleMaxLength }}文字以内です</mat-error
      >
    </mat-form-field>
    <!-- メモタイトルの入力フォームここまで -->

    <!-- カテゴリーの入力フォーム -->
    <mat-form-field class="example-full-width">
      <mat-label>Category</mat-label>
      <input
        matInput
        formControlName="category"
        autocomplete="off"
        placeholder="複数カテゴリーを追加するには、「,」（カンマ）区切りでカテゴリーを記入してください。"
      />
    </mat-form-field>
    <!-- カテゴリーの入力フォームここまで -->

    <!-- メモコンテンツの入力エディター -->
    <div class="editor">
      <quill-editor
        [required]="true"
        [styles]="{ height: '500px' }"
        formControlName="text"
      >
      </quill-editor>
      <p class="error" *ngIf="textControl.hasError('required') && form.touched">
        本文は必須項目です
      </p>
      <!-- サムネイル追加 -->
      <div class="thumbnail__text" *ngIf="user$ | async as user">
        <div class="thumbnail" (click)="crop.input.nativeElement.click()">
          <img
            class="{{ imageFile ? 'thumbnail__image' : 'thumbnail__icon' }}"
            [src]="imageFile ? imageFile : thumbnailIcon"
            alt=""
          />
          <deer-crop-trigger
            class="croppie"
            #crop
            [options]="options"
            (image)="onCroppedImage($event)"
          ></deer-crop-trigger>
        </div>
      </div>

      <div class="test-button">
      </div>
      <!-- ここからトグル  -->
      <div class="flexbox">
        <div class="switcher">
          <input formControlName="isPublic" type="checkbox" id="" />
          <label for=""></label>
        </div>

        <button
          class="button button--{{ form.invalid ? 'invalid' : 'text' }}"
          [disabled]="form.invalid || form.pristine"
        >
          {{ isPublicControl.value ? '記事を公開' : '下書き保存' }}
        </button>
      </div>
    </div>
  </form>
</div>
