<div class="editor-container">
  <!-- ここからフォーム -->
  <form [formGroup]="form" (ngSubmit)="submit()">
    <!-- メモタイトルの入力フォーム -->
    <mat-form-field class="example-full-width">
      <mat-label>Title</mat-label>
      <input
        matInput
        formControlName="title"
        required
        autocomplete="off"
        placeholder="メモタイトル"
      />
      <mat-error *ngIf="titleControl.hasError('required')"
        >必須項目です</mat-error
      >
      <mat-error *ngIf="titleControl.hasError('maxlength')"
        >タイトルは{{ titleMaxLength }}文字以内です</mat-error
      >
    </mat-form-field>
    <!-- メモタイトルの入力フォームここまで -->

    <!-- メモコンテンツの入力エディター -->
    <div class="editor">
      <quill-editor [styles]="{ height: '500px' }" formControlName="text">
      </quill-editor>
      <mat-error *ngIf="textControl.hasError('required')"
        >必須項目です</mat-error
      >

      <!-- ここからトグル  -->
      <div class="flexbox">
        <div class="switcher">
          <input formControlName="isPublic" type="checkbox" id="" />
          <label for=""></label>
        </div>
        <button
          class="button button--text"
          [disabled]="form.invalid || form.pristine"
          (click)="submit()"
        >
          {{ isPublicControl.value ? '記事を公開' : '下書き保存' }}
        </button>
      </div>
    </div>
  </form>
</div>
