/* You can add global styles to this file, and also import other style files */
@import 'mixins';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: nunito, dnp-shuei-mgothic-std, 'Helvetica Neue', sans-serif;
  background-color: #e6e7ee;
  color: #44476a;
}

a {
  text-decoration: none;
  color: #31344b;
}

p {
  margin: 0;
}

// 見出しに関するスタイル

h1 {
  margin: 0;
  color: #31344b;
  letter-spacing: 0.07em;
  text-align: center;
}

h2 {
  margin: 0;
  color: #31344b;
}

h3 {
  margin: 0;
  color: #31344b;
}

h4 {
  margin: 0;
  color: #31344b;
}

// Containerに関するスタイル
.container {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  &--hero {
    margin: 80px auto 128px;
    @include sm {
      margin: 80px auto 80px;
    }
  }
  &--recent {
    max-width: 1338px;
  }
}

// ボタンに関するスタイル

.button {
  display: inline-block;
  color: #31344b;
  border-radius: 8px;
  border: 1px solid #d1d9e6;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
  &--small {
    padding: 8px 16px;
  }
  &--small-social {
    height: 16px;
    padding: 12px;
    border-radius: 50%;
  }
  &--general {
    min-width: 180px;
    margin-bottom: 128px;
    padding: 10px;
    text-align: center;
  }
  &--general-icon {
    display: flex;
    align-items: center;
    min-width: 180px;
    margin-bottom: 128px;
    padding: 10px;
    text-align: center;
  }
  &--support {
    min-width: 180px;
    padding: 10px;
    text-align: center;
  }
}

.button:hover {
  box-shadow: inset 6px 6px 12px #b8b9be, inset -6px -6px 12px #ffffff;
}

// recent-contentsに関するスタイル

.recent-title {
  margin-bottom: 80px;
}
.recent-title h2 {
  font-size: 40px;
  @include sm {
    font-size: 32px;
  }
}

.recent-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  width: 100%;
  margin-bottom: 80px;
  @include sm {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    // gap: 45px;
    // width: 100%;
    margin-bottom: 80px;
  }
}
.recent-card-list__vertical {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 45px;
  width: 100%;
  margin-bottom: 80px;
}

// recent-contentsのカードに関するスタイル
// memoとmagazineに関するスタイル
.recent-posted-card {
  position: relative;
  border-radius: 8px;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
  width: 100%;
  &--magazine {
    margin-top: 69px;
  }
  &__card-contents {
    margin: 0 28px;
  }
  &__card-contents--magazine {
    padding-top: 224px;
  }
  &__image {
    max-width: 378px;
    margin: 19px 19px 25px;
  }
  &__user-icon {
    width: 48px;
    height: 48px;
    margin-right: 10px;
    border-radius: 50%;
  }
  &__user-name {
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &__posted-date {
    font-size: 14px;
  }
  &__title {
    font-size: 24px;
    margin-bottom: 24px;
    text-align: left;
  }

  &__overview {
    font-size: 20px;
    margin-bottom: 50px;
    line-height: 1.65;
  }
  &__card-button {
    padding: 8px 16px;
    border: 1px solid #d1d9e6;
    border-radius: 8px;
    color: #31344b;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
  }
  &__card-button:hover {
    box-shadow: inset 6px 6px 12px #b8b9be, inset -6px -6px 12px #ffffff;
  }
  &__card-button img {
    height: 16px;
    margin-right: 10px;
  }
}
.recent-posted-author {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
}

// guideに関するスタイル
.about-container {
  width: 100%;
  margin-bottom: 128px;
  margin: 0 auto;
}

.about-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 128px;
  max-width: 1338px;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
}

.guide-container {
  width: 100%;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 128px;
}

.guide-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 128px auto;
  max-width: 1338px;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
}

.guide-text {
  padding-left: 100px;
  padding-right: 56px;
  .guide-text__title {
    margin: 0;
  }
}
.guide-text h2 {
  font-size: 42px;
  margin-bottom: 48px;
}
.text-box {
  margin-bottom: 48px;
}

.image-box {
  padding: 25px;
  max-width: 496px;
  max-height: 496px;
}
.guide-image {
  width: 100%;
  border-radius: 50% 0 50% 50%;
  &--rhombus {
    border-radius: 50% 0 50% 0;
  }
}

// header-guideのアイコンに関するスタイル
.guide-icons {
  max-width: 1056px;
  margin: 0 auto 128px;
  display: flex;
  justify-content: space-between;
}

.guide-icons img {
  height: 36px;
}

.icon-box {
  min-width: 174px;
  text-align: center;
  border-radius: 8px;
  padding: 28px 0px;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
}

.icon-box:hover {
  box-shadow: inset 6px 6px 12px #b8b9be, inset -6px -6px 12px #ffffff;
}
.icon-box p {
  font-weight: bold;
}

.icon-image {
  margin: 0 auto 16px;
}

// Quillエディターのスタイル
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

.ql-toolbar.ql-snow {
  border: 1px solid #d1d9e6;
  border-radius: 8px;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
  color: #31344b;
  margin-bottom: 20px;
}
.ql-snow .ql-stroke {
  stroke: #31344b;
}
.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: #31344b;
}

.ql-container.ql-snow {
  border: 0px;
}

.ql-editor {
  border-radius: 8px;
  box-shadow: inset 6px 6px 12px #b8b9be, inset -6px -6px 12px #ffffff;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  margin-bottom: 20px;
}

.ql-toolbar .ql-picker {
  color: #31344b;
}

// angular materialに関するスタイル
.mat-form-field-appearance-standard .mat-form-field-underline {
  background-color: #d1d9e6;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #d1d9e6;
}

// croppieに関するスタイル
.cr-viewport {
  box-sizing: border-box;
}

.image {
  :before {
    background: rgba(0, 0, 0, 0.9);
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

/* PC用のCSSはメディアクエリの外に記述する */

@media screen and (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */
  .recent-container {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  .recent-container {
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
  }
}
