/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;

  font-family: nunito, dnp-shuei-mgothic-std, 'Helvetica Neue', sans-serif;

  background-color: #e6e7ee;
}

a {
  text-decoration: none;
  // color: #31344b;
}
p {
  margin: 0;
}

// ボタンに関するスタイル
.button {
  color: #31344b;
  border-radius: 8px;
  border: 1px solid #d1d9e6;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
  &--small {
    padding: 8px 16px;
  }
}
.button:hover {
  box-shadow: inset 6px 6px 12px #b8b9be, inset -6px -6px 12px #ffffff;
}
// .button {
//
//   &--to-list {
//     position: relative;
//     min-width: 180px;
//     min-height: 40px;
//     padding: 10px;
//     color: #31344b;
//     display: inline-block;
//     text-align: center;
//     margin-bottom: 128px;
//   }
//   &--to-list__text {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     margin: 0;
//   }
// }


// h2 {
//   margin: 0;
//   color: #31344b;
// }
// h4 {
//   margin: 0;
//   color: #31344b;
// }
// .container {
//   max-width: 1400px;
//   margin: 0 auto;
//   text-align: center;
// }
