<!-- メモカード -->
<!-- memoがいるときに、"recent-posted-card"クラスが表示される。 -->
<div class="recent-posted-card" *ngIf="memo">
  <!-- メモのサムネイル画像 -->
  <img
    class="recent-posted-card__image"
    [src]="memo.thumbnailUrl"
    alt=""
  />

  <!-- メモカードの内容     -->
  <div class="recent-posted-card__card-contents">
    <!-- ユーザーアイコン、ユーザーネーム、投稿日のボックス -->
    <div class="recent-posted-author">
      <div>
        <img
          class="recent-posted-card__user-icon"
          src="assets/images/user-icon-example.jpg"
          alt=""
        />
        <p class="recent-posted-card__user-name">{{memo.author}}</p>
      </div>

      <div class="recent-posted-card__posted-date">
        <!-- firestoreのデータなので、toDate()を走らせるd -->
        <p>{{memo.createdAt.toDate() | date:'yyyy/mm/dd'}}</p>
      </div>
    </div>

    <!-- メモのタイトル -->
    <div class="recent-posted-card__title">
      <p>{{memo.title}}</p>
    </div>

    <!-- メモの概要     -->
    <div class="recent-posted-card__overview">
      <p>
        {{memo.text}}
      </p>
    </div>

    <!-- メモカード下部ボタンのボックス     -->
    <div class="button-row">
      <a [routerLink]="['/memo', memo.memoId]" class="recent-posted-card__card-button">もっとみる</a>
      <div class="recent-posted-card__card-button" (click)="like()">
        <img src="assets/images/favorite.svg" alt="" />
        <p>{{memo.likeCount}}</p>
      </div>
    </div>
  </div>
</div>
