<!-- メモカード -->
<div class="recent-posted-card">
  <!-- メモのサムネイル画像 -->
  <img
    class="recent-posted-card__image"
    src="assets/images/user-icon-example.jpg"
    alt=""
  />

  <!-- メモカードの内容     -->
  <div class="recent-posted-card__card-contents">
    <!-- ユーザーアイコン、ユーザーネーム、投稿日のボックス -->
    <div class="recent-posted-author">
      <div>
        <img
          class="recent-posted-card__user-icon"
          src="assets/images/user-icon-example.jpg"
          alt=""
        />
        <p class="recent-posted-card__user-name">UserName</p>
      </div>

      <div class="recent-posted-card__posted-date">
        <p>{{memo.createdAt}}</p>
      </div>
    </div>

    <!-- メモのタイトル -->
    <div class="recent-posted-card__title">
      <p>メモタイトル</p>
    </div>

    <!-- メモの概要     -->
    <div class="recent-posted-card__overview">
      <p>
        本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト
      </p>
    </div>

    <!-- メモカード下部ボタンのボックス     -->
    <div class="button-row">
      <div class="recent-posted-card__card-button">もっとみる</div>
      <div class="recent-posted-card__card-button">
        <img src="assets/images/favorite.svg" alt="" />
        <p>123</p>
      </div>
    </div>
  </div>
</div>
