<!-- メモカード -->
<div class="memo-card">
  <!-- メモのサムネイル画像 -->
  <img class="memo-card__image" src="assets/images/user-icon-example.jpg" alt="" />

  <!-- メモカードの内容     -->
  <div class="memo-card__card-contents">
    <!-- ユーザーアイコン、ユーザーネーム、投稿日のボックス -->
    <div class="memo-author">
      <div>
        <img
          class="memo-card__user-icon"
          src="assets/images/user-icon-example.jpg"
          alt=""
        />
        <p class="memo-card__user-name">UserName</p>
      </div>

      <div class="memo-card__posted-date">
        <p>2020年11月11日</p>
      </div>
    </div>

    <!-- メモのタイトル -->
    <div class="memo-card__memo-title">
      <p>メモタイトル</p>
    </div>

    <!-- メモの概要     -->
    <div class="memo-card__overview">
      <p>
        本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト
      </p>
    </div>

    <!-- メモカード下部ボタンのボックス     -->
    <div class="button-row">
      <div class="memo-card__card-button">もっとみる</div>
      <div class="memo-card__card-button">
        <img src="assets/images/favorite.svg" alt="" />
        <p>123</p>
      </div>
    </div>
  </div>
</div>
