<div class="user-card">
  <div class="user-card__container">
    <div class="user-card__wrapper">
      <div class="user-card__users">
        <div class="user-card__user-image">
          <img src="assets/images/profile-image-example.jpg" alt="" />
        </div>
        <div class="user-card__names">
          <p class="user-name">UserName</p>
          <p class="subject">Subject</p>
          <button><img src="assets/images/favorite.svg" alt="" />123</button>
        </div>
        <div class="user-card__socials">
          <button><img src="assets/images/twitter.svg" alt="" /></button>
          <button><img src="assets/images/youtube-brands.svg" alt="" /></button>
          <button>
            <img src="assets/images/soundcloud-brands.svg" alt="" />
          </button>
          <button><img src="assets/images/round-link.svg" alt="" /></button>
        </div>
      </div>
      <div class="vertical-line"></div>

      <div class="user-card__contents">
        <div class="contents-button">
          <button>フォロー</button>
          <p>123</p>
        </div>
        <div class="contents-button">
          <button>マガジン</button>
          <p>123</p>
        </div>
        <div class="contents-button">
          <button>フォロワー</button>
          <p>123</p>
        </div>
        <div class="contents-button">
          <button>Musics & Sounds</button>
          <p>123</p>
        </div>
        <div class="contents-button">
          <button>メモ</button>
          <p>123</p>
        </div>
        <div class="contents-button">
          <button>Movies</button>
          <p>123</p>
        </div>
      </div>
    </div>
  </div>
</div>
