@import 'mixins';
.user-card {
  margin-bottom: 80px;
  @include sm {
    margin-bottom: 40px;
  }
  &__container {
    max-width: 1120px;
    margin: 0 auto;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
    background: #e6e7ee;
    border-radius: 8px;
    @include sm {
      margin: 0 16px;
    }
  }
  &__wrapper {
    padding: 24px 60px;
    display: flex;
    justify-content: space-between;
    @include sm {
      display: block;
      padding: 16px;
    }
  }
  &__users {
    display: flex;
    margin-bottom: 16px;
    @include sm {
      margin-bottom: 0;
    }
  }
  &__user-image {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 24px;
    margin-bottom: 12px;
    @include sm {
      max-width: 100px;
      max-height: 100px;
    }
    & img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__names {
    display: flex;
    flex-direction: column;
    margin-right: 24px;
    @include sm {
      margin-bottom: 16px;
    }
    & button {
      border-radius: 8px;
      border: 1px solid #d1d9e6;
      background: #e6e7ee;
      color: #31344b;
      display: inline-flex;
      padding: 8px 16px;
      max-width: 80px;

      justify-content: center;
      box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;

      &:hover {
        box-shadow: inset 6px 6px 12px #b8b9be, inset -6px -6px 12px #ffffff;
      }
    }
    & img {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
  }
  &__socials {
    display: flex;
    align-items: flex-end;
    margin-left: 144px;
    @include sm {
      margin-left: 0;
      justify-content: space-between;
      margin-bottom: 24px;
      padding: 0 16px;
    }
    & button {
      padding: 8px;
      border-radius: 50%;
      border: 1px solid #d1d9e6;
      background: #e6e7ee;
      margin-right: 8px;
      box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
      &:hover {
        box-shadow: inset 6px 6px 12px #b8b9be, inset -6px -6px 12px #ffffff;
      }
    }
    & img {
      width: 16px;
      height: 16px;
    }
  }
  &__contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    grid-auto-columns: 16px;
    @include sm {
      gap: 10px;
    }
    & button {
      min-width: 124px;
      min-height: 40px;
      margin-right: 16px;
      padding: 8px;
      border-radius: 8px;
      border: 1px solid #d1d9e6;
      background: #e6e7ee;
      box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
      @include sm {
        margin-right: 0;
        margin-bottom: 8px;
      }
      &:hover {
        box-shadow: inset 6px 6px 12px #b8b9be, inset -6px -6px 12px #ffffff;
      }
    }
  }
}

.user-name {
  font-size: 24px;
  font-weight: bold;
}
.subject {
  font-size: 20px;
  margin-bottom: 16px;
}

.contents-button {
  display: flex;
  align-items: center;
  @include sm {
    flex-direction: column;
  }
}

.vertical-line {
  width: 1px;
  height: 210px;
  border-left: 1px solid #d1d9e6;
  @include sm {
    display: none;
  }
}
