<div class="comment-card">
  <div class="comment-box">
    <h3>コメント</h3>
    <div class="comment-card__users">
      <div class="comment-card__icon">
        <img src="assets/images/comment-user-image-example.jpg" alt="" />
      </div>
      <p class="comment-card__name">UserName</p>
      <p class="comment-card__date">2020年12月7日</p>
    </div>
    <p class="comment-card__comment">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam provident
      architecto eaque? Accusamus voluptatum dolores adipisci, explicabo
      consequuntur similique voluptatibus ratione, minus earum expedita
      perferendis quisquam commodi eum est cum?
    </p>
    <div class="comment-card__buttons">
      <img (click)="like()" src="assets/images/favorite.svg" alt="" />
      <img
        (click)="alertMessage()"
        src="assets/images/icons/comment-image.svg"
        alt=""
      />
    </div>
    <div class="comment-card__response">
      <form>
        <mat-form-field>
          <textarea matInput>コメントする</textarea>
        </mat-form-field>
      </form>
    </div>
    <div class="comment-card__response-button">
      <p (click)="alertMessage()">投稿する</p>
    </div>
  </div>
</div>
