<div class="user-about">
  <div class="user-about__about">
    <p class="user-about__title">About</p>
    <p>作曲をしています。主にBGMを作っています。よろしくお願いします！</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
      temporibus quaerat vero eos explicabo nam quas, ut natus consequatur, in
      reprehenderit hic reiciendis odio. Illum eius ipsa blanditiis tempore
      laborum!
    </p>
  </div>
  <div class="user-about__equip">
    <p class="user-about__title">Equipment</p>
    <p>・ソフト　Cubase</p>
    <p>・Plugins　Waves、Fab Filterなど</p>
    <p>・Instruments　Spitfire Audio、Spectra Sonicsなど</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit id delectus
      eius, distinctio deserunt sapiente officia numquam pariatur voluptates
      omnis, minima totam laboriosam laudantium quidem nostrum, quaerat quod
      cumque iste!
    </p>
  </div>
</div>
